header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
}

h2{
    background-color: #89CFF0;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: azure;
    }