header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89CFF0;
}

header a{
    color: white;
    font-size: large;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 10px;
}

h2{
    background-color: #89CFF0;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: azure;
    }

section.projects li{
    border-bottom: 2px solid #89CFF0;
    list-style-type: none;
    padding-bottom: 10px;
    text-align: center;
}